.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.inline-table {
    display: inline-table;
}

.center {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.between {
    justify-content: space-between;
}

.column {
    flex-flow: column;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.relative {
    position: relative;
}

.clickable {
    cursor: pointer;
}