@media (orientation: portrait) {
    header {
        margin-top: 2.5vh;
    }

    .navpage, .img-content, .text-content {
        width: initial;
    }

    .content {
        display: block;
    }
    
    .logo {
        display: none;
    }

    button, pre {
        font-size: 2.75vh;
    }

    h2 {
        font-size: 3vh;
    }

    p, ul, li, textarea, .footnote {
        font-size: 2.5vh;
    }
    
    div.br {
        height: calc(2.5vh / 2);
    }

    .mobile-br {
        padding-bottom: 2vh;
    }

    article {
        padding: 25px 15px 27.5px 25px;
    }

    .img-content {
        margin-bottom: 2vh;
    }

    .text-content {
        padding: 0;
    }

    footer {
        padding: 10px 15px;
    }

    .socials {
        justify-content: space-between;
        width: auto;
    }

    .socials a {
        margin: 0 5px;
    }
}

@media (orientation: portrait) and (max-width: 315px) {
    footer {
        padding: 5px 7.5px;
    }

    .socials a {
        height: 5vh;
        margin: 0 2.5px;
    }
}

@media (orientation: portrait) and (max-width: 600px) {
    td {
        width: initial;
    }
    
    tbody {
        display: flex;
        padding-top: 10px;
    }

    tr.flex {
        display: inline-flex;
        flex-flow: column;
        width: min-content;
        margin-right: 2.25vh;
        margin-bottom: 0;
    }

    td, .td-long {
        width: min-content;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .socials a {
        height: 6.5vh;
    }
}

@media (orientation: portrait) and (min-width: 600px) {
    footer {
        padding: 17.5px 26.25px;
    }

    .img-content {
        margin-top: 1vh;
    }

    img.full-width {
        width: 80%;
        margin: 0 10%;
    }

    td {
        margin-right: 3.5vh;
    }

    .socials a {
        height: 6.5vh;
    }
}

@media (orientation: portrait) and (min-height: 1300px) {
    td {
        width: initial;
    }
    
    tbody {
        display: flex;
        padding-top: 10px;
    }

    tr.flex {
        display: inline-flex;
        flex-flow: column;
        width: min-content;
        margin-right: 3vh;
        margin-bottom: 0;
    }

    td, .td-long {
        width: min-content;
        margin-right: 0;
        margin-bottom: 15px;
    }
}

@media (orientation: portrait) and (min-height: 2000px) {
    article {
        padding: 75px 45px 82.5px 75px;
    }

    footer {
        padding: 40px 60px;
    }
}

@media (orientation: landscape) and (hover: none) {
    .link-row * {
        font-size: 2.5vh;
    }
}

@media (min-width: 0px) and (max-width: 400px) {
    .contact, .contact-iframe {
        min-height: 1105px;
    }
}

@media (max-width: 518px) {
    textarea {
        height: 4.5em;
    }
}

@media (min-width: 400px) and (max-width: 650px) {
    .contact, .contact-iframe {
        min-height: 1005px;
    }
}

@media (orientation: landscape) and (max-width: 900px) {
    button, pre {
        font-size: 3.5vh;
    }
}

@media (min-width: 518px) and (max-width: 1110px) {
    textarea {
        height: 3em;
    }
}

@media (max-width: 1000px) {
    video {
        width: 100%;
    }
}

@media (min-width: 1000px) and (max-width: 1150px) {
    video {
        width: 90%;
    }
}

@media (min-width: 1150px) and (max-width: 1300px) {
    video {
        width: 80%;
    }
}

@media (min-width: 1450px) {
    button, pre {
        font-size: 3.75vh;
    }
}