@media (orientation: portrait) {
    header {
        margin-top: 2.5vh;
    }

    .navpage, .img-content, .text-content, td {
        width: initial;
    }

    .content {
        display: block;
    }
    
    .logo {
        display: none;
    }

    button, pre {
        font-size: 2.75vh;
    }

    .img-content {
        margin-bottom: 2vh;
    }

    .text-content {
        padding: 0;
    }

    footer {
        padding: 10px 15px;
    }

    tbody {
        display: flex;
    }

    tr.flex {
        display: inline-flex;
        flex-flow: column;
        width: min-content;
        margin-right: 3vh;
        margin-bottom: 0;
    }

    td, .td-long {
        width: min-content;
        margin-right: 0;
        margin-bottom: 2.5px;
    }

    .socials {
        justify-content: space-between;
    }

    .socials a img.full-width {
        width: 90%;
    }
}