@media (orientation: portrait) {
    header {
        margin-top: 2.5vh;
    }

    .navpage, .img-content, .text-content, td {
        width: initial;
    }

    .content {
        display: block;
    }
    
    .logo {
        display: none;
    }

    button, pre {
        font-size: 2.75vh;
    }

    h2 {
        font-size: 3vh;
    }

    p, ul, li, textarea {
        font-size: 2.5vh;
    }
    
    div.br {
        height: calc(2.5vh / 2);
    }

    .mobile-br {
        padding-bottom: calc(2.5vh / 2);
    }

    article {
        padding: 25px 15px 27.5px 25px;
    }

    .img-content {
        margin-bottom: 2vh;
    }

    .text-content {
        padding: 0;
    }

    footer {
        padding: 10px 15px;
    }

    tbody {
        display: flex;
        padding-top: 10px;
    }

    tr.flex {
        display: inline-flex;
        flex-flow: column;
        width: min-content;
        margin-right: 3vh;
        margin-bottom: 0;
    }

    td, .td-long {
        width: min-content;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .socials {
        justify-content: space-between;
    }

    .socials a img.full-width {
        width: 90%;
    }
}

@media (min-width: 0px) and (max-width: 400px) {
    .contact, .contact-iframe {
        min-height: 1200px;
    }
}

@media (min-width: 400px) and (max-width: 650px) {
    .contact, .contact-iframe {
        min-height: 1100px;
    }
}