h1 {
    font-size: 5vh;
}

button, pre {
    font-size: 4.5vh;
}

p, ul, li, textarea {
    font-size: 2.75vh;
}

ul {
    list-style: none;
}

textarea {
    resize: none;
}

header {
    margin-top: 7.5vh;
    margin-bottom: 2.5vh;
}

.nav {
    height: 4vh;
    justify-content: space-evenly;
}

.navpage {
    width: 25%;
}

.logo {
    height: calc((4vh * 5) + 30px);
    bottom: 6vh;
    border-radius: 100%;
    z-index: 1;
    padding: 20px;
}

.brackets {
    font-size: calc(4vh * 3.75);
    font-weight: normal;
    width: 40px;
}

.brackets, textarea {
    user-select: none;
}

.title-1, .marker pre {
    font-size: 2.5vh;
}

.title-2, h2 {
    font-size: 3.5vh;
}

.title-3 {
    font-size: 4.25vh;
}

button, textarea {
    background: none;
    border: none;
    outline: none;
}

article {
    padding: 50px 30px 35px 50px;
}

.img-content, .text-content {
    width: 50%;
}

.content, .text-content, textarea {
    line-height: 1.5;
}

.text-content {
    padding: 0 25px 0 75px;
}

.text-content * {
    margin-bottom: 10px;
}

.marker, .marker pre {
    margin-bottom: 0px;
}

.marker pre {
    align-self: flex-start;
}

.heading, .underline {
    text-decoration: underline;
}

.heading, .footnote {
    font-weight: bold;
}

.footnote {
    font-style: italic;
}

.project {
    height: max-content;
}

.project * {
    margin-bottom: 0;
}

.project p {
    display: inline-block;
    margin-bottom: 5px;
}

.float-r {
    margin-right: 15px;
}

.source {
    height: 30vh;
}

.source * {
    border: 1px solid black;
}

.iframe-bg, .contact {
    height: 1000px;
    width: 640px;
}

.iframe-bg {
    width: 576px;
}

.contact iframe {
    height: inherit;
    width: inherit;
    right: 32px;
    bottom: 1030px;
    margin-bottom: -1000px;
    border: 0px solid black;
}

footer {
    padding: 30px 50px;
}

td {
    width: 12.5vh;
    margin-right: 10vh;
    white-space: nowrap;
    text-align: left;
}

.td-long {
    width: 16.5vh;
}

.link-row * {
    font-size: 2vh;
}

.socials img {
    height: 8vh;
    margin: 0 10px;
}

.space {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}