h1, h2, h3, h4, h5, h6, pre {
    font-family: 'Courier New';
    font-weight: bold;
}

div, p, button, span, ul, li, .marker, textarea {
    font-family: 'Inconsolata';
}

body {
    background: #FCFFFF;
}

h1, h2, h3, h4, h5, h6, button, a {
    color: #1745AD;
}

p, pre, ul, li, textarea {
    color: #305EC6;
}

::selection {
    background: #C2F0FF;
}

::-moz-selection {
    background: #C9F7FF;
}

.active {
    color: #6391F9;
}

.logo {
    background: #96C4FF;
}

.title {
    color: #fefefe;
}

.title::selection {
    background: #305EC6;
}

.title::-moz-selection {
    background: #305EC6;
}

.brackets {
    color: #efefff;
}

article {
    background-color: #EFFFFF;
    border-top: 3px solid #305EC6;
    border-bottom: 3px solid #305EC6;
}

@media (hover: hover) {
    .clickable:hover:not(.header) {
        color: #6391F9;
    }
}