h1, h2, h3, h4, h5, h6, pre {
    font-family: 'Courier New';
    font-weight: bold;
}

div, p, button, span, ul, li, .marker {
    font-family: 'Inconsolata';
}

body, .iframe-bg {
    background: #f6ebeb;
}

h1, h2, h3, h4, h5, h6, button {
    color: #6d68b8;
}

p, pre, ul, li {
    color: #686298;
}

.active {
    color: #7d7dff;
}

.logo {
    background: #d8d6fe;
}

.title {
    color: #fefefe;
}

.brackets {
    color: #efefff;
}

article {
    background-color: #f7cbd4;
    border-top: 3px solid #827dc9;
    border-bottom: 3px solid #827dc9;
}