header {
    height: 18%;
}

.title {
    height: 60%;
    margin-bottom: calc(5vh * 0.18);
}

.nav {
    height: 35%;
    background: #ffccc2;
    justify-content: space-evenly;
}

.nav div {
    height: 100%;
    width: 25%;
    border-left: 1px solid #7376ec;
    border-right: 1px solid #7376ec;
}

.nav div:hover {
    background: #cbcdf7;
}

.active {
    background: #cbcdf7;
}

article {
    height: 82%;
    padding: 10px;
}