header {
    height: 18%;
}

.title {
    height: 60%;
    margin-bottom: calc(5vh * 0.18);
}

h1 {
    font-size: 5vh;
}

.nav {
    height: 35%;
    background: #ffccc2;
    justify-content: space-evenly;
}

.navpage {
    height: 100%;
    width: 25%;
    border-left: 1px solid #7376ec;
    border-right: 1px solid #7376ec;
}

.active {
    background: #cbcdf7;
}

a, p {
    font-size: 2.5vh;
}

article {
    height: 82%;
    padding: 10px;
    overflow-y: scroll;
}